<h1 style="color: {{ include.color}}"> {{ site.title }} </h1>
<a href="/">Home</a> | <a href="about.html">DOL</a> | <a href="daoc_portal.html">DAOC Portal</a> | <a href="https://github.com/Dawn-of-Light/DOLSharp/wiki">Wiki</a> 
<hr>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<span class="badge badge-success">Success</span>


